.App {
  text-align: center;
  background-image: url('https://www.2playbook.com/uploads/s1/34/16/08/dsc0259.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8); /* Fondo semitransparente para mejorar el contraste */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-label {
  color: #ffffff; 
  background-color: #0099ff; 
  padding: 0.3rem 0.6rem; 
  border-radius: 8px; 
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5rem; 
}